extends layout.pug

block header
    meta(property="og:description" content=fullText)
    meta(property="og:image" content=imgSrc)

block content
    div.container
        div.row
            div.col-sm
                img
        div.row
            div.col-sm
                div #{name} está há #{days} dias sem tiltar. O recorde é de #{record} dias.
